<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визуализация RSA</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 2px solid rgba(0, 0, 0, 0.3);
        }

        .algo-steps-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .block-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .round-container {
            display: flex;
            width: 100%;
            align-items: start;
            justify-content: center;
            margin-bottom: 40px;
            flex-wrap: wrap;
            row-gap: 30px;
        }

        .matrix-table {
            border-collapse: collapse;
            margin: 0 20px;
            width: 25%;
        }

        .matrix-table, .matrix-table th, .matrix-table td {
            border: 1px solid black;
        }

        .matrix-table tr th, .matrix-table tr td {
            aspect-ratio: 1 / 1;
            width: 25%;
            text-align: center;
        }

        .arrow-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 15%;
        }

        .arrow {
            font-size: 24px;
            font-weight: bold;
        }

        .hidden-el {
            display: none;
        }

        .vertical-arrow-container {
            transform: rotate(90deg); /* Rotate to make it vertical */
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">AES</h2>

    <a href="/">Главная</a>
    <br>
    <a href="/aes_explanation">Объяснение алгоритма</a>

    <div class="row g-3 needs-validation justify-content-center">
        <h3 class="text-center">Параметры AES</h3>

        <div class="col-4">
            <label for="NB" class="form-label">NB:</label>
            <input type="number" class="form-control" id="NB" readonly>
        </div>
        <div class="col-4">
            <label for="NK" class="form-label">NK:</label>
            <input type="number" class="form-control" id="NK" readonly>
        </div>
        <div class="col-4">
            <label for="NR" class="form-label">NR:</label>
            <input type="number" class="form-control" id="NR" readonly>
        </div>
        <div class="col-4">
            <label for="BLOCK_SIZE" class="form-label">Block size:</label>
            <input type="text" class="form-control" id="BLOCK_SIZE" readonly>
        </div>

    </div>

    <hr/>

    <h3 class="text-center">Сообщение</h3>

    <div class="row g-3 needs-validation">
        <div class="col-6 offset-2">
            <label for="message" class="form-label">Сообщение:</label>
            <input type="text" id="message" class="form-control" value="test message">
        </div>
        <div class="col-4 offset-2">
            <label for="key" class="form-label">Ключ:</label>
            <input type="text" id="key" class="form-control" value="Sixteen byte key">
            <div class="invalid-feedback" id="key-error-message">
                Длина ключа должна быть 16 байт
            </div>
            <small>Лучше использовать латиницу для совпадения числа байт</small>
        </div>
        <div class="col-4">
            <label for="bytes_cnt" class="form-label">Число байт в ключе:</label>
            <input type="number" id="bytes_cnt" class="form-control" value="16" readonly>
        </div>
        <div class="col-5 offset-2">
            <button id="encryptButton" class="btn btn-primary me-2">Зашифровать</button>
            <button id="decryptButton" class="btn btn-primary">Расшифровать</button>
        </div>
    </div>
    <div id="visualization" class="mt-4">
    </div>
</div>

<!-- Bootstrap JS и зависимости -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<script>
    async function aesFetch(url, params) {
        return await fetch(url, params)
            .then((response) => response.json())
            .then((data) => {
                if (data['errors']) {
                    throw new Error(data['errors'][0]);
                }
                return data;
            })
    }
    async function fetchParams() {
        const res = await aesFetch('/aes_params', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'},
        });
        return res.params;
    }

    async function fetchEncrypt(message, key) {
        return await aesFetch('/aes_encrypt', {
            method: 'POST',
            body: JSON.stringify({message: message, key: key}),
            headers: {'Content-Type': 'application/json'},
        });
    }

    async function fetchDecrypt(message, key) {
        return await aesFetch('/aes_decrypt', {
            method: 'POST',
            body: JSON.stringify({message: message, key: key}),
            headers: {'Content-Type': 'application/json'},
        });
    }

    const makeElWithText = (elType, text) => {
        const el = document.createElement(elType);
        el.innerText = text;
        return el;
    }

    const makeElWithClass = (elType, cls) => {
        const el = document.createElement(elType);
        el.className = cls;
        return el;
    }

    const makeResultMessage = (message, visualizationDiv) => {
        const result = makeElWithClass('input', 'form-control mb-5');
        result.value = message;
        result.readOnly = true;
        result.id = 'result';

        const label = makeElWithClass('h5', 'form-label');
        label.style = 'margin-top: 10px';
        label.innerText = 'Результат:';

        visualizationDiv.appendChild(label);
        visualizationDiv.appendChild(result);
    }

    const makeStateMatrix = (state) => {
        const matEl = makeElWithClass('table', 'matrix-table');
        for (const row of state) {
            const trEl = document.createElement('tr');
            for (const cell of row) {
                trEl.appendChild(makeElWithText('td', cell));
            }
            matEl.appendChild(trEl);
        }
        return matEl;
    }

    const getTitleForStep = (stepName) => {
        return {
            add_round_key: 'Поочередное применение XOR ко всем элементам матрицы и соответствующим элементам ключа',
            sub_bytes: 'Смещение для каждого элемента матрицы в соответствии с SBOX (предподсчитанная матрица)',
            shift_rows: 'Круговое смещение столбцов матрицы',
            mix_cols: 'Перемножение ячеек матрицы над полем GF(2^8)',
        }[stepName];
    }

    const makeArrow = (stepName) => {
        const container = makeElWithClass('div', 'arrow-container');
        container.title = getTitleForStep(stepName);
        const msg = makeElWithClass('div', 'message');
        msg.innerText = stepName;
        const arrow =  makeElWithClass('div', 'arrow');
        arrow.innerText = '→';

        container.appendChild(msg);
        container.appendChild(arrow);
        return container;
    }

    const toggleVisibility = () => {
        const hiddenSteps = document.getElementById('hidden-steps');
        const btn = document.getElementById('toggle-visibility');
        btn.innerText = hiddenSteps.classList.contains('hidden-el') ? 'Скрыть' : 'Показать скрытые шаги';
        hiddenSteps.classList.toggle('hidden-el');
    }

    const makeBlockExplanation = (block, blockIdx) => {
        const blockContainer = makeElWithClass('div', 'block-container');
        const hiddenContainer = makeElWithClass('div', 'block-container hidden-el');
        hiddenContainer.id = 'hidden-steps';

        blockContainer.appendChild(makeElWithText('h4', `Блок ${blockIdx}`));
        const transformationDescription = makeElWithText('div', `'${block['block']}' → '${block['block_result']}'`);
        transformationDescription.style = "margin-bottom: 15px";
        blockContainer.appendChild(transformationDescription);

        for (const [roundIdx, round] of block['rounds'].entries()) {
            const roundContainer = makeElWithClass('div', 'round-container');
            for (const step of round['steps']) {
                const arrow = makeArrow(step['name']);
                const mat = makeStateMatrix(step['state']);
                mat.style.setProperty('aspect-ratio', '1 / 1');
                if (step['name'] !== 'start')
                    roundContainer.appendChild(arrow);
                else
                    mat.style.setProperty('margin-left', '17.5%');
                roundContainer.appendChild(mat);
            }
            if (roundIdx >= 2) {
                hiddenContainer.appendChild(makeElWithText('h5', `Раунд ${roundIdx}`));
                hiddenContainer.appendChild(roundContainer);
            } else {
                blockContainer.appendChild(makeElWithText('h5', `Раунд ${roundIdx}`));
                blockContainer.appendChild(roundContainer);
            }
        }
        if (block['rounds'].length > 2) {
            const toggleStepsVisibility = document.createElement('button');
            toggleStepsVisibility.id = 'toggle-visibility';
            toggleStepsVisibility.innerText = 'Показать скрытые шаги';
            toggleStepsVisibility.style = 'margin-bottom: 10px';
            toggleStepsVisibility.onclick = toggleVisibility;

            blockContainer.appendChild(toggleStepsVisibility);
            blockContainer.appendChild(hiddenContainer);
        }
        return blockContainer;
    }

    const matToRow = (matrix) => {
        let res = [];
        for (const row of matrix)
            for (const cell of row)
                res.push(cell);
        return [res];
    }

    const makeVerticalArrow = () => {
        const el = makeElWithClass('div', 'vertical-arrow-container');
        el.innerHTML = '<svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">' +
            '<line x1="10" y1="30" x2="40" y2="30" stroke="#333" stroke-width="3" stroke-linecap="round" />' +
            '<polygon points="40 25, 50 30, 40 35" fill="#333" />' +
        '</svg>';
        return el;
    }

    const last = (arr) => arr[arr.length - 1];

    const makeResultRetrievingExplanation = (blocks) => {
        const explanationContainer = makeElWithClass('div', 'block-container');
        explanationContainer.appendChild(makeElWithText('h4', `Получение результата:`));
        console.log(blocks);
        for (const [blockIdx, block] of blocks.entries()) {
            const blockValue = block['block'], blockRes = block['block_result'], lastRound = last(block['rounds']), lastStep = last(lastRound['steps']);
            const stateMatrix = makeStateMatrix(lastStep['state']);
            stateMatrix.style.setProperty('aspect-ratio', '1 / 1');

            const stateAsRow = makeStateMatrix(matToRow(lastStep['state']));
            stateAsRow.style.setProperty('height', '25px');

            explanationContainer.appendChild(makeElWithText('h5', `Блок : '${blockValue}'`));
            explanationContainer.appendChild(makeVerticalArrow());
            explanationContainer.appendChild(makeElWithText('h5', `Полученная матрица:`));
            explanationContainer.appendChild(stateMatrix);
            explanationContainer.appendChild(makeVerticalArrow());
            explanationContainer.appendChild(makeElWithText('h5', `Превращаем матрицу в массив байт:`));
            explanationContainer.appendChild(stateAsRow);
            explanationContainer.appendChild(makeVerticalArrow());
            explanationContainer.appendChild(makeElWithText('h5', `Получаем hex массива байт: '${blockRes}'`));
        }
        return explanationContainer;
    }

    const makeAlgoSteps = (steps, visualizationDiv) => {
        const algoStepsContainer = makeElWithClass('div', 'algo-steps-container');

        for (const [blockIdx, block] of steps['blocks'].entries()) {
            algoStepsContainer.appendChild(makeBlockExplanation(block, blockIdx));
        }
        visualizationDiv.appendChild(algoStepsContainer);
        visualizationDiv.appendChild(makeResultRetrievingExplanation(steps['blocks']));
    }

    const validateInputs = () => {
        if (Number(document.getElementById('bytes_cnt').value) !== 16) {
            alert('Ошибка: длина ключа должна быть 16 байт');
            return false;
        }
        if (!document.getElementById('message').value) {
            alert('Ошибка: введите сообщение');
            return false;
        }
        return true;
    }

    function setUpVisualizationDiv(key_expansion, blocks) {
        const visualizationDiv = document.getElementById('visualization');
        visualizationDiv.innerHTML = '<hr/>' +
            '<h3 class="text-center">Результат</h3>' +
            //'<h5>Key expansion:</h5>' +
            //`<code>[${key_expansion}]</code>` +
            '<h5>Blocks:</h5>' +
            `<code>[${blocks.map((el) => `'${el}'`)}]</code> <br>`;
        return visualizationDiv;
    }

    document.getElementById('encryptButton').addEventListener('click', async () => {
        if (!validateInputs()) {
            return;
        }

        const message = document.getElementById('message').value;
        const key = document.getElementById('key').value;

        try {
            const response = await fetchEncrypt(message, key);
            const encrypted = response.result, steps = response.steps;

            const visualizationDiv = setUpVisualizationDiv(steps['key_expansion'], steps['blocks'].map((blockData) => blockData['block']));
            makeResultMessage(encrypted, visualizationDiv);
            makeAlgoSteps(steps, visualizationDiv);
        } catch (e) {
            alert(e.toString());
            throw e;
        }
    });

    document.getElementById('decryptButton').addEventListener('click', async () => {
        if (!validateInputs()) {
            return;
        }
        const encryptedMessage = document.getElementById('message').value;
        const key = document.getElementById('key').value;

        try {
            const response = await fetchDecrypt(encryptedMessage, key);
            const decrypted = response.result, steps = response.steps;

            const visualizationDiv = setUpVisualizationDiv(steps['key_expansion'], steps['blocks'].map((blockData) => blockData['block']));
            makeResultMessage(decrypted, visualizationDiv);
            makeAlgoSteps(steps, visualizationDiv);
        } catch (e) {
            alert(e.toString());
            throw e;
        }
    });

    document.getElementById('key').addEventListener('change', () => {
        const keyEl = document.getElementById('key');
        const bytesCntEl = document.getElementById('bytes_cnt');
        const key = keyEl.value;
        const textEncoder = new TextEncoder();
        const bytesLen = textEncoder.encode(key).length;

        bytesCntEl.value = bytesLen;
        if (bytesLen !== 16) {
            keyEl.classList.add('is-invalid');
            bytesCntEl.classList.add('is-invalid');
        } else {
            keyEl.classList.remove('is-invalid');
            bytesCntEl.classList.remove('is-invalid');
        }
    });

    const PARAMS_NAMES = ['NB', 'NK', 'NR', 'BLOCK_SIZE'];
    window.addEventListener('load', async () => {
        const params = await fetchParams();
        for (const param_name of PARAMS_NAMES) {
            if (param_name === 'BLOCK_SIZE') {
                document.getElementById(param_name).value = `${params[param_name] * 8} бит`;
            } else {
                document.getElementById(param_name).value = params[param_name];
            }
        }
    });
</script>
</body>
</html>