<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ГОСТ 28147-89</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 2px solid rgba(0, 0, 0, 0.3);
        }
        .hidden {
            display: none;
        }

        .algo-steps-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .block-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .round-container {
            display: flex;
            width: 100%;
            align-items: start;
            justify-content: center;
            margin-bottom: 40px;
            flex-wrap: wrap;
            row-gap: 30px;
        }

        .matrix-table {
            border-collapse: collapse;
            margin: 0 20px;
            width: 50%;
        }

        .matrix-table, .matrix-table th, .matrix-table td {
            border: 1px solid black;
        }

        .matrix-table tr th, .matrix-table tr td {
            width: 50%;
            height: 40px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">ГОСТ 28147-89</h2>

    <a href="/">Главная</a>
    <br>
    <a href="/gost_28147_89_explanation">Объяснение алгоритма</a>

    <div class="row g-3 needs-validation justify-content-center">
        <h3 class="text-center">Параметры</h3>

        <div class="col-4">
            <label for="mode" class="form-label">Выберите режим работы:</label>
            <select class="form-select" aria-label="Выберите режим работы" id="mode">
                <option selected value="ECB">Режим простой замены</option>
                <option value="CTR">Гаммирования</option>
                <option value="CFB">Гаммирования с обратной связью</option>
            </select>
        </div>
    </div>

    <div id="CFB-container" class="row g-3 needs-validation justify-content-center hidden" style="margin-top: 10px">
        <div class="col-4 offset-2">
            <label for="init_vec" class="form-label">Синхропосылка:</label>
            <input type="text" id="init_vec" class="form-control" value="Eight bt">
            <div class="invalid-feedback" id="init_vec-error-message">
                Длина синхропосылки должна быть 8 байт
            </div>
            <small>Лучше использовать латиницу для совпадения числа байт</small>
        </div>
        <div class="col-4">
            <label for="init_vec_bytes_cnt" class="form-label">Число байт в синхропосылке:</label>
            <input type="number" id="init_vec_bytes_cnt" class="form-control" value="8" readonly>
        </div>
    </div>

    <div id="CTR-container" class="row g-3 needs-validation justify-content-center hidden" style="margin-top: 10px">
        <div class="col-4 offset-2">
            <label for="nonce" class="form-label">Синхропосылка:</label>
            <input type="text" id="nonce" class="form-control" value="Eight bt">
            <div class="invalid-feedback" id="nonce-error-message">
                Длина синхропосылки должна быть 8 байта
            </div>
            <small>Лучше использовать латиницу для совпадения числа байт</small>
        </div>
        <div class="col-4">
            <label for="nonce_bytes_cnt" class="form-label">Число байт в синхропосылке:</label>
            <input type="number" id="nonce_bytes_cnt" class="form-control" value="8" readonly>
        </div>
    </div>

    <hr/>

    <h3 class="text-center">Сообщение</h3>

    <div class="row g-3 needs-validation">
        <div class="col-6 offset-2">
            <label for="message" class="form-label">Сообщение:</label>
            <input type="text" id="message" class="form-control" value="test message">
        </div>

        <div class="col-4 offset-2">
            <label for="key" class="form-label">Ключ:</label>
            <input type="text" id="key" class="form-control" value="Thirty two bytes really big key!">
            <div class="invalid-feedback" id="key-error-message">
                Длина ключа должна быть 32 байта
            </div>
            <small>Лучше использовать латиницу для совпадения числа байт</small>
        </div>
        <div class="col-4">
            <label for="key_bytes_cnt" class="form-label">Число байт в ключе:</label>
            <input type="number" id="key_bytes_cnt" class="form-control" value="32" readonly>
        </div>

        <div class="col-5 offset-2">
            <button id="encryptButton" class="btn btn-primary me-2">Зашифровать</button>
            <button id="decryptButton" class="btn btn-primary">Расшифровать</button>
        </div>
    </div>
    <div id="visualization" class="mt-4">
    </div>
</div>

<!-- Bootstrap JS и зависимости -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


<script>
    async function gostFetch(url, params) {
        return await fetch(url, params)
            .then((response) => response.json())
            .then((data) => {
                if (data['errors']) {
                    throw new Error(data['errors'][0]);
                }
                return data;
            })
    }

    async function fetchEncrypt(params) {
        return await gostFetch('/gost_28147_89_encrypt', {
            method: 'POST',
            body: JSON.stringify(params),
            headers: {'Content-Type': 'application/json'},
        });
    }

    async function fetchDecrypt(params) {
        return await gostFetch('/gost_28147_89_decrypt', {
            method: 'POST',
            body: JSON.stringify(params),
            headers: {'Content-Type': 'application/json'},
        });
    }

    const makeElWithText = (elType, text) => {
        const el = document.createElement(elType);
        el.innerText = text;
        return el;
    }

    const makeElWithClass = (elType, cls) => {
        const el = document.createElement(elType);
        el.className = cls;
        return el;
    }

    function setUpVisualizationDiv(result) {
        const visualizationDiv = document.getElementById('visualization');
        visualizationDiv.innerHTML = '<hr/>' +
            '<h3 class="text-center">Результат</h3>' +
            '<label for="result" class="form-label">Результат:</label>' +
            `<input id="result" class="form-control" value="${result}" readonly/>`;
        return visualizationDiv;
    }

    const makeAlgoSteps = (steps, visualizationDiv) => {
        const algoStepsContainer = makeElWithClass('div', 'algo-steps-container');

        for (const [blockIdx, block] of steps.entries()) {
            algoStepsContainer.appendChild(makeBlockExplanation(block, blockIdx));
        }
        visualizationDiv.appendChild(algoStepsContainer);
    }

    const makeBlockExplanation = (block, blockIdx) => {
        const blockContainer = makeElWithClass('div', 'block-container');

        blockContainer.appendChild(makeElWithText('h4', `Блок ${blockIdx}`));
        blockContainer.style.setProperty('margin-top', '20px');
        const transformationDescription = makeElWithText('div', `'${block['block']}' → '${block['result']}'`);
        transformationDescription.style = "margin-bottom: 15px";
        blockContainer.appendChild(transformationDescription);
        const roundsInfo = makeElWithText('h5', 'Преобразования:');
        roundsInfo.style = "margin-bottom: 15px";
        blockContainer.appendChild(roundsInfo);

        const matEl = makeElWithClass('table', 'matrix-table');
        const addRow = (row) => {
            const trEl = document.createElement('tr');
            trEl.appendChild(makeElWithText('td', row[0]));
            trEl.appendChild(makeElWithText('td', row[1]));
            matEl.appendChild(trEl);
        }
        addRow(['N1', 'N2']);
        for (const round of block['rounds']) {
            addRow(round);
        }
        blockContainer.appendChild(matEl);

        return blockContainer;
    }

    const KEY_BYTES_CNT = 32, INIT_VEC_BYTES_CNT = 8, NONCE_BYTES_CNT = 8;
    const EL_TO_BYTES_CNT = {
        'key': KEY_BYTES_CNT,
        'init_vec': INIT_VEC_BYTES_CNT,
        'nonce': NONCE_BYTES_CNT,
    }

    const validateInputs = () => {
        for (const [elId, bytesCnt] of Object.entries(EL_TO_BYTES_CNT)) {
            if (Number(getVal(`${elId}_bytes_cnt`)) !== bytesCnt) {
                alert(`Ошибка: длина ${elId} должна быть ${bytesCnt} байт`);
                return false;
            }
        }
        if (!getVal('message')) {
            alert('Ошибка: введите сообщение');
            return false;
        }
        return true;
    }

    const getVal = (elId) => document.getElementById(elId).value

    const makeParams = () => {
        return {
            key: getVal('key'),
            text: getVal('message'),
            mode: getVal('mode'),
            init_vec: getVal('init_vec'),
            nonce: getVal('nonce'),
        }
    }

    document.getElementById('encryptButton').addEventListener('click', async () => {
        if (!validateInputs()) {
            return;
        }
        try {
            const params = makeParams();
            const response = await fetchEncrypt(params);
            console.log(response);
            const visualizationDiv = setUpVisualizationDiv(response.result);
            makeAlgoSteps(response['steps'],visualizationDiv);
        } catch (e) {
            alert(`Ошибка: ${e}`);
            throw e;
        }
    });

    document.getElementById('decryptButton').addEventListener('click', async () => {
        if (!validateInputs()) {
            return;
        }
        try {
            const params = makeParams();
            const response = await fetchDecrypt(params);
            const visualizationDiv = setUpVisualizationDiv(response.result);
            makeAlgoSteps(response['steps'],visualizationDiv);
        } catch (e) {
            alert(`Ошибка: ${e}`);
            throw e;
        }
    });

    for (const [elId, bytesCnt] of Object.entries(EL_TO_BYTES_CNT)) {
        document.getElementById(elId).addEventListener('change', () => checkBytesCnt(elId, bytesCnt));
    }

    const checkBytesCnt = (elId, bytesCnt) => {
        const element = document.getElementById(elId);
        const bytesCntEl = document.getElementById(`${elId}_bytes_cnt`);
        const bytesLen = (new TextEncoder()).encode(element.value).length;

        bytesCntEl.value = bytesLen;
        if (bytesLen !== bytesCnt) {
            element.classList.add('is-invalid');
            bytesCntEl.classList.add('is-invalid');
        } else {
            element.classList.remove('is-invalid');
            bytesCntEl.classList.remove('is-invalid');
        }
    }

    const setDefaultCTR = () => {
        document.getElementById('nonce').value = 'Eight bt';
        checkBytesCnt('nonce', EL_TO_BYTES_CNT['nonce'])
    }

    const setDefaultCFB = () => {
        document.getElementById('init_vec').value = 'Eight bt';
        checkBytesCnt('init_vec', EL_TO_BYTES_CNT['init_vec'])
    }

    document.getElementById('mode').addEventListener('change', () => {
        const modeEl = document.getElementById('mode');
        const mode = modeEl.value;
        if (mode === 'ECB') {
            setDefaultCFB();
            setDefaultCTR();
            document.getElementById('CTR-container').classList.add('hidden');
            document.getElementById('CFB-container').classList.add('hidden');
        } else if (mode === 'CTR') {
            setDefaultCFB();
            document.getElementById('CFB-container').classList.add('hidden');
            document.getElementById('CTR-container').classList.remove('hidden');
        } else {
            setDefaultCTR();
            document.getElementById('CTR-container').classList.add('hidden');
            document.getElementById('CFB-container').classList.remove('hidden');
        }

    });
</script>
</body>
</html>