<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визуализация RSA</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 2px solid rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">ГОСТ 34.10 2018</h2>

    <a href="/gost_34_10_2018_explanation">Объяснение алгоритма</a>

    <div class="row g-3 needs-validation justify-content-center">
        <h3 class="text-center">Параметры алгоритма</h3>

        <div class="col-md-4">
            <label for="p" class="form-label">p:</label>
            <input type="number" class="form-control" id="p" placeholder="Введите p">
            <div class="invalid-feedback" id="p-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="a" class="form-label">a:</label>
            <input type="number" class="form-control" id="a" placeholder="Введите a">
            <div class="invalid-feedback" id="a-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="b" class="form-label">b:</label>
            <input type="number" class="form-control" id="b" placeholder="Введите b">
            <div class="invalid-feedback" id="b-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="m" class="form-label">m:</label>
            <input type="number" class="form-control" id="m" placeholder="Введите m">
            <div class="invalid-feedback" id="m-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="q" class="form-label">q:</label>
            <input type="number" class="form-control" id="q" placeholder="Введите q">
            <div class="invalid-feedback" id="q-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="P" class="form-label">P:</label>
            <input type="text" class="form-control" id="P" placeholder="Введите P формат: x,y">
            <div class="invalid-feedback" id="P-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="private_key" class="form-label">Private key:</label>
            <input type="number" class="form-control" id="private_key" placeholder="Введите d">
            <div class="invalid-feedback" id="private_key-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="public_key" class="form-label">Public key:</label>
            <input type="text" class="form-control" id="public_key" placeholder="Введите Q">
            <div class="invalid-feedback" id="public_key-error-message">
            </div>
        </div>

        <div class="col-12 row justify-content-center mt-4">
            <div class="col-4">
                <button class="btn btn-secondary w-100" type="button" onclick="generateRandomParams()">Сгенерировать
                    случайные параметры
                </button>
            </div>
        </div>
    </div>

    <hr/>

    <h3 class="text-center">Подписать</h3>
    <!-- Область ввода сообщения -->
    <div class="d-flex mt-5 mb-3 w-100 row justify-content-center">
        <div class="d-flex justify-content-center align-items-center col-12">
            <label for="message_to_sign" class="me-2">Сообщение:</label>
            <input type="text" id="message_to_sign" class="form-control me-2" value="test message" style="width: 300px;">
            <button id="make_signature" class="btn btn-primary me-2">Подписать</button>
        </div>

        <div class="d-flex justify-content-center align-items-center col-12 mt-3">
            <label for="make_signature_result"  class="me-2">Результат:</label>
            <input type="text" class="form-control me-2" id="make_signature_result" readonly value="" placeholder="результат" style="width: 300px">
        </div>
    </div>


    <hr/>

    <h3 class="text-center">Проверить подпись</h3>
    <!-- Область ввода сообщения -->
    <div class="d-flex mt-5 mb-3 w-100 row justify-content-center">
        <div class="d-flex justify-content-center align-items-center col-12">
            <label for="message_to_verify" class="me-2">Сообщение:</label>
            <input type="text" id="message_to_verify" class="form-control me-2" value="" placeholder="сообщение" style="width: 300px;">

            <label for="signature" class="me-2">Подпись:</label>
            <input type="text" id="signature" class="form-control me-2" placeholder="подпись" style="width: 300px;">

        </div>
        <div class="d-flex justify-content-center align-items-center col-4 mt-3">
            <button id="verify_signature" class="btn btn-primary">Проверить подпись</button>
        </div>

        <div class="d-flex justify-content-center align-items-center col-12 mt-3">
            <label for="verify_result"  class="me-2">Результат:</label>
            <input type="text" class="form-control me-2" id="verify_result" readonly value="" placeholder="результат" style="width: 300px">
        </div>
    </div>
</div>

<!-- Bootstrap JS и зависимости -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<script>
    let correct_params = [];

    async function fetchCorrectParams() {
        correct_params = await fetch('/gost_params', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'},
        })
            .then((response) => response.json())
            .then((data) => data.params);
        console.log('success', correct_params)
    }

    function chooseRandom(choices) {
        let index = Math.floor(Math.random() * choices.length);
        return choices[index];
    }

    class Params {
        constructor() {
            this.p = 0;
            this.a = 0;
            this.b = 0;
            this.P = null;
            this.m = null;
            this.q = null;
            this.private_key = null;
            this.public_key = null;
        }

        static fromRawObject(obj) {
            let params = new Params();
            params.p = obj.p;
            params.a = obj.a;
            params.b = obj.b;
            params.P = obj.P;
            params.m = obj.m;
            params.q = obj.q;
            params.private_key = obj.private_key;
            params.public_key = obj.public_key;
            return params;
        }
    }

    const addErrorMessage = (inputId, message) => {
        document.getElementById(inputId).classList.add('is-invalid');
        document.getElementById(`${inputId}-error-message`).textContent = message;
    }
    const removeErrorMessage = (inputId) => {
        document.getElementById(`${inputId}-error-message`).textContent = '';
        document.getElementById(inputId).classList.remove('is-invalid');
    }

    // todo setters for params for user-input
    const validateInputs = async () => {
        // todo remove errors for all inputs
        const validationErrors = await fetch('/gost_validate_params', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({params: params}),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data.errors);
                return data.errors;
            });

        for (const err of validationErrors) {
            const {key, error} = err;
            addErrorMessage(key, error);
        }
    };

    //for (const inputId in params) {
    //    let paramData = params[inputId];
    //    const inputEl = document.getElementById(inputId);
    //    inputEl.addEventListener('change', () => {
    //        paramData.setter(inputEl.value);
    //        validateInputs();
    //    })
    //}

    let params;
    fetchCorrectParams().then(() => generateRandomParams());

    const generateRandomParams = () => {
        params = Params.fromRawObject(chooseRandom(correct_params));

        // todo
        validateInputs();
        for (const [inputId, value] of Object.entries(params)) {
            document.getElementById(inputId).value = value;
            console.log([inputId, value]);
        }
    }

    async function fetchSignature(message) {
        return await fetch('/gost_make_signature', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({message: message}),
        })
            .then((response) => response.json())
            .then((data) => data.signature);
    }

    async function fetchVerification(message, signature) {
        return await fetch('/gost_verify_signature', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({message: message, signature: signature}),
        })
            .then((response) => response.json())
            .then((data) => data.is_valid);
    }

    document.getElementById('make_signature').addEventListener('click', async () => {
        // todo
        //if (!validateInputs()) {
        //    alert('Пожалуйста, введите корректные параметры');
        //    return;
        //}

        const message = document.getElementById('message_to_sign').value;
        if (!message) {
            alert('Пожалуйста, введите сообщение для подписания.');
            return;
        }

        const signature = await fetchSignature(message);
        document.getElementById('make_signature_result').value = signature;
    });

    document.getElementById('verify_signature').addEventListener('click', async () => {
        // todo
        //if (!validateInputs()) {
        //    alert('Пожалуйста, введите корректные параметры');
        //    return;
        //}

        const message = document.getElementById('message_to_verify').value;
        const signature = document.getElementById('signature').value;

        if (!message || !signature) {
            alert('Пожалуйста, введите сообщение для подписания.');
            return;
        }

        const is_valid = await fetchVerification(message, signature);
        document.getElementById('verify_result').value = is_valid ? 'Verified!' : 'Invalid';
    });
</script>
</body>
</html>