<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визуализация RSA</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 2px solid rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">ГОСТ 34.10 2018</h2>

    <a href="/">Главная</a>
    <br>
    <a href="/gost_34_10_2018_explanation">Объяснение алгоритма</a>

    <div class="row g-3 needs-validation justify-content-center">
        <h3 class="text-center">Параметры алгоритма</h3>

        <div class="col-md-4">
            <label for="p" class="form-label">p:</label>
            <input type="number" class="form-control" id="p" placeholder="Введите p">
            <div class="invalid-feedback" id="p-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="a" class="form-label">a:</label>
            <input type="number" class="form-control" id="a" placeholder="Введите a">
            <div class="invalid-feedback" id="a-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="b" class="form-label">b:</label>
            <input type="number" class="form-control" id="b" placeholder="Введите b">
            <div class="invalid-feedback" id="b-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="m" class="form-label">m:</label>
            <input type="number" class="form-control" id="m" placeholder="Введите m">
            <div class="invalid-feedback" id="m-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="q" class="form-label">q:</label>
            <input type="number" class="form-control" id="q" placeholder="Введите q">
            <div class="invalid-feedback" id="q-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="P_x" class="form-label">P:</label>
            <div class="d-flex" style="flex-wrap: wrap">
                <input type="number" class="form-control" style="width: 47%; margin-right: 5%" id="P_x"
                       placeholder="Введите P_x">
                <input type="number" class="form-control" style="width: 47%" id="P_y" placeholder="Введите P_y">
                <div class="invalid-feedback" id="P-error-message">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="private_key" class="form-label">Private key:</label>
            <input type="number" class="form-control" id="private_key" placeholder="Введите d">
            <div class="invalid-feedback" id="private_key-error-message">
            </div>
        </div>
        <div class="col-md-4">
            <label for="public_key_x" class="form-label">Public key:</label>
            <div class="d-flex" style="flex-wrap: wrap">
                <input type="number" class="form-control" style="width: 47%; margin-right: 5%" id="public_key_x"
                       placeholder="Введите x">
                <input type="number" class="form-control" style="width: 47%" id="public_key_y" placeholder="Введите y">
                <div class="invalid-feedback" id="public_key-error-message">
                </div>
            </div>
        </div>

        <div class="col-12 row justify-content-center mt-4">
            <div class="col-4">
                <button class="btn btn-secondary w-100" type="button" onclick="generateRandomParams()">Сгенерировать
                    случайные параметры
                </button>
            </div>
        </div>
    </div>

    <hr/>

    <h3 class="text-center">Подписать</h3>
    <div class="d-flex mt-5 mb-3 w-100 row justify-content-center">
        <div class="d-flex justify-content-center align-items-center col-12">
            <label for="message_to_sign" class="me-2">Сообщение:</label>
            <input type="text" id="message_to_sign" class="form-control me-2" value="test message"
                   style="width: 300px;">
            <button id="make_signature" class="btn btn-primary me-2">Подписать</button>
        </div>

        <div class="d-flex justify-content-center align-items-center col-12 mt-3">
            <label for="make_signature_result_x" class="me-2">Результат:</label>
            <input type="number" class="form-control me-2" id="make_signature_result_x" readonly value=""
                   placeholder="подпись: r" style="width: 150px">
            <input type="number" class="form-control me-2" id="make_signature_result_y" readonly value=""
                   placeholder="подпись: s" style="width: 150px">
            <button class="btn btn-secondary" id="cp_to_verify">Проверить</button>
        </div>
    </div>


    <hr/>

    <h3 class="text-center">Проверить подпись</h3>
    <div class="d-flex mt-5 mb-3 w-100 row justify-content-center">
        <div class="d-flex justify-content-center align-items-center col-12">
            <label for="message_to_verify" class="me-2">Сообщение:</label>
            <input type="text" id="message_to_verify" class="form-control me-2" value="" placeholder="сообщение"
                   style="width: 300px;">

            <label for="signature_x" class="me-2">Подпись:</label>
            <input type="number" id="signature_x" class="form-control me-2" placeholder="подпись r" style="width: 150px;">
            <input type="number" id="signature_y" class="form-control me-2" placeholder="подпись s" style="width: 150px;">

        </div>
        <div class="d-flex justify-content-center align-items-center col-4 mt-3">
            <button id="verify_signature" class="btn btn-primary">Проверить подпись</button>
        </div>

        <div class="d-flex justify-content-center align-items-center col-12 mt-3">
            <label for="verify_result" class="me-2">Результат:</label>
            <input type="text" class="form-control me-2" id="verify_result" readonly value="" placeholder="результат"
                   style="width: 300px">
        </div>
    </div>
</div>

<!-- Bootstrap JS и зависимости -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<script>
    let correct_params = [];

    async function fetchCorrectParams() {
        correct_params = await fetch('/gost_params', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'},
        })
            .then((response) => response.json())
            .then((data) => data.params);
    }

    function chooseRandom(choices) {
        let index = Math.floor(Math.random() * choices.length);
        return choices[index];
    }

    class Params {
        constructor() {
            this.p = 0;
            this.a = 0;
            this.b = 0;
            this.P = null;
            this.m = null;
            this.q = null;
            this.private_key = null;
            this.public_key = null;
        }

        static fromRawObject(obj) {
            let params = new Params();
            params.p = obj.p;
            params.a = obj.a;
            params.b = obj.b;
            params.P = obj.P;
            params.m = obj.m;
            params.q = obj.q;
            params.private_key = obj.private_key;
            params.public_key = obj.public_key;
            return params;
        }
    }

    const addErrorMessage = (inputId, message) => {
        document.getElementById(`${inputId}-error-message`).textContent = message;
        if (inputId === 'P' || inputId === 'public_key') {
            const suffixes = ['_x', '_y'];
            for (const suffix of suffixes)
                document.getElementById(`${inputId}${suffix}`).classList.add('is-invalid');
            return;
        }
        document.getElementById(inputId).classList.add('is-invalid');
    }
    const removeErrorMessage = (inputId) => {
        document.getElementById(`${inputId}-error-message`).textContent = '';
        if (inputId === 'P' || inputId === 'public_key') {
            const suffixes = ['_x', '_y'];
            for (const suffix of suffixes)
                document.getElementById(`${inputId}${suffix}`).classList.remove('is-invalid');
            return;
        }
        document.getElementById(inputId).classList.remove('is-invalid');
    }

    const validateInputs = async () => {
        const validationErrors = await fetch('/gost_validate_params', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({params: params}),
        })
            .then((response) => response.json())
            .then((data) => {
                return data.errors;
            });

        for (const key in params) {
            removeErrorMessage(key);
        }
        for (const err of validationErrors) {
            const {key, message} = err;
            if (key === 'server_error') {
                alert(`Ошибка валидации: ${message}`);
                return false;
            }
            addErrorMessage(key, message);
        }
        return validationErrors.length === 0;
    };

    const getIntValue = (raw_value, error_msg_el, message) => {
        let value;
        value = parseInt(raw_value);
        if (isNaN(value)) {
            addErrorMessage(error_msg_el, message);
            return null;
        }
        return value;
    }
    const addPairListener = (inputId, paramName, idx) => {
        const element = document.getElementById(inputId);
        element.addEventListener('change', () => {
            const value = getIntValue(element.value, paramName, `Поле ${inputId} должно быть корректным числом`);
            if (value === null) return;
            params[paramName][idx] = value;
            validateInputs();
        });
    }
    const addEventListeners = () => {
        for (const param_name in (new Params())) {
            if (param_name === 'P' || param_name === 'public_key') {
                continue;
            }
            const inputEl = document.getElementById(param_name);
            inputEl.addEventListener('change', () => {
                const value = getIntValue(inputEl.value, param_name, `Поле ${param_name} должно быть корректным числом`);
                if (value === null) return;
                params[param_name] = value;
                validateInputs();
            });
        }

        addPairListener('P_x', 'P', 0);
        addPairListener('P_y', 'P', 1);
        addPairListener('public_key_x', 'public_key', 0);
        addPairListener('public_key_y', 'public_key', 1);
    }

    addEventListeners();

    let params;
    fetchCorrectParams().then(() => generateRandomParams());

    const generateRandomParams = () => {
        params = Params.fromRawObject(chooseRandom(correct_params));

        validateInputs();
        for (const [inputId, value] of Object.entries(params)) {
            if (inputId === 'P' || inputId === 'public_key') {
                continue;
            }
            document.getElementById(inputId).value = value;
        }
        document.getElementById('P_x').value = params.P[0];
        document.getElementById('P_y').value = params.P[1];
        document.getElementById('public_key_x').value = params.public_key[0];
        document.getElementById('public_key_y').value = params.public_key[1];
    }

    async function fetchSignature(message) {
        return await fetch('/gost_make_signature', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({message: message, params: params}),
        })
            .then((response) => response.json())
            .then((data) => data.signature);
    }

    async function fetchVerification(message, signature) {
        return await fetch('/gost_verify_signature', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({message: message, signature: signature, params: params}),
        })
            .then((response) => response.json())
            .then((data) => data.is_valid);
    }

    document.getElementById('make_signature').addEventListener('click', async () => {
        if (!await validateInputs()) {
            alert('Пожалуйста, введите корректные параметры');
            return;
        }

        const message = document.getElementById('message_to_sign').value;
        if (!message) {
            alert('Пожалуйста, введите сообщение для подписания.');
            return;
        }

        const signature = await fetchSignature(message);
        document.getElementById('make_signature_result_x').value = signature[0];
        document.getElementById('make_signature_result_y').value = signature[1];
    });
    document.getElementById('cp_to_verify').addEventListener('click', () => {
        const message = document.getElementById('message_to_sign').value;
        const signatureX = document.getElementById('make_signature_result_x').value;
        const signatureY = document.getElementById('make_signature_result_y').value;
        document.getElementById('message_to_verify').value = message;
        document.getElementById('signature_x').value = signatureX;
        document.getElementById('signature_y').value = signatureY;
    });

    document.getElementById('verify_signature').addEventListener('click', async () => {
        if (!await validateInputs()) {
            alert('Пожалуйста, введите корректные параметры');
            return;
        }

        const message = document.getElementById('message_to_verify').value;
        const signatureX = document.getElementById('signature_x').value;
        const signatureY = document.getElementById('signature_y').value;

        if (!message || !signatureX || !signatureY) {
            alert('Пожалуйста, введите подпись и сообщение.');
            return;
        }

        const is_valid = await fetchVerification(message, `${signatureX}, ${signatureY}`);
        document.getElementById('verify_result').value = is_valid ? 'Verified!' : 'Invalid';
    });
</script>
</body>
</html>